body {
  background-color: #f2ecae;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f2ecae;
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
  color: #563429;
  padding: 20px;
  justify-items: center;
  text-transform: lowercase;
}
h1 {
  font-family: monospace;
  color: white;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  justify-items: center;
}
button, .button {
  text-decoration: none;
  background-color: #558b2f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 0 55px;
  padding: 10px 50px;
  transition: all 0.2s;
  font-family: monospace;
  font-weight: bold;
  text-transform: lowercase;
}
button:hover, .button:hover {
  background-color: #33691e;
  scale: 1.1;
}

.infoCard {
  width: 80%;
  height: 500px;
  background: #563429;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.infoHead {
  margin-top: 50px;
  margin-bottom: -45px;
}
.infoHeader {
  font-size: 30px;
}

.infoCardTextWrapper {
  width: 70%;
  color: white;
  font-family: monospace;
  font-size: 20px;
  height: 100%;
}
.widthConstraint {
  width: fit-content;
  justify-content: center;
  align-items: center;

}

.welcomeMessage {
  font-size: 40px;
  transform: translateY(-40px);
}
.inputBox {
  height: 35px;
  width: 250px;
  font-size: 25px;
  border-radius: 5px;
  margin: 10px;
  transform: translateY(-40px)
}
.loginButton {
  top: 50px;
  transform: translateY(-75px);
}
.signUpLink {
  color: #558b2f;
}
.signUpText {
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 15px;
}
.signUpFields {
  margin: 10px;
}
.signUpBox {
  border-radius: 5px;
  height: 25px;
  width: 150px;
}

.adminWrapper {
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  justify-items: center;
  margin-top: 25%;
}

.displayDB {
  font-size: small;
  justify-content: left !important;
  color: white;
  font-family: monospace;
  font-size: 15px;
  height: 100%;
  max-width: 100%;
}